{% extends 'AppBundle:Template:MasterTemplate.html.twig' %}

{% block content %}
<div class="container mt-8">
    <div class="row">
        <div class="col-12">
            <h2 class="h3">
                Was ist die Critical Mass?
            </h2>

            <p>
                Puh, das ist schwierig zu beschreiben. Für einige dürfte es das Fahrradspektakel schlechthin sein, für andere eine nette Feierabendtour, für einige sicherlich auch eine Demonstration für bessere Bedingungen für den Radverkehr. Je nach Ort und Jahreszeit treffen sich ein paar Dutzend bis hin zu mehreren tausend Radfahrern zu einer gemeinsamen Ausfahrt — traditionell finden Critical-Mass-Radtouren jeweils am letzten Freitag im Monat statt.
            </p>

            <p>
                Die erste Critical Mass fuhr im Jahre 1992 durch das hügelige San Francisco — seitdem hat sich die Critical-Mass-Bewegung beinahe über die gesamte Welt ausgebreitet. In Deutschland berufen sich die Teilnehmer der Critical Mass auf <a href="http://sqi.be/p27stvo">§ 27 StVO</a>, der es einer Gruppe von mindestens 16 Radfahrern erlaubt, als Verband auf der Fahrbahn zu fahren.
            </p>
        </div>
    </div>
</div>
{% endblock %}
