@import "bootstrap/bootstrap";

div.user-position {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 black;
}

div.user-position div.user-position-inline {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  background-position: -5px -5px;
}

#glympse-logo-container {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 40px;
  width: 150px;
  z-index: 500000;
  opacity: 0.8;
}