{% extends 'AppBundle:Template:MasterTemplate.html.twig' %}

{% block head %}
    <meta property="og:title" content="Critical Mass Live Tracking: Verfolge die Critical Mass online" />
    <meta property="og:description" content="Schau dir an, wo die Critical Mass gerade unterwegs ist." />

    <meta name="twitter:title" content="Critical Mass Live Tracking: Verfolge die Critical Mass online" />
    <meta name="twitter:description" content="Schau dir an, wo die Critical Mass gerade unterwegs ist." />

    <meta name="description" content="Schau dir an, wo die Critical Mass gerade unterwegs ist." />
{% endblock %}

{% block content %}
    <div class="container mt-8">
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
                {% if rides | length > 0 %}
                    <form name="">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2>
                                    Auf den Sattel, fertig los
                                </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="lead">
                                    Wo bist du heute unterwegs?
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <select class="form-control" id="select-ride">
                                    {% for ride in rides %}
                                        {% if (ride.hasLocation() and ride.latitude and ride.longitude) %}
                                            {% set latitude = ride.latitude %}
                                            {% set longitude = ride.longitude %}
                                        {% else %}
                                            {% set latitude = ride.city.latitude %}
                                            {% set longitude = ride.city.longitude %}
                                        {% endif %}
                                        <option data-latitude="{{ latitude }}"
                                                data-longitude="{{ longitude }}"
                                                data-city-slug="{{ ride.city.slug }}">
                                            {{ ride.city.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <div class="btn-group">
                                    <button id="ride-on" type="submit" class="btn btn-primary">
                                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                                        Ride on
                                    </button>
                                    <button id="auto-select" type="button" class="btn btn-secondary">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>
                                Nichts los auf den Straßen
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="lead">
                                Leider ist momentan keine Critical Mass unterwegs.
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-sm-10 offset-sm-1 text-center">
                <h4>
                    Critical Mass?
                </h4>

                <p class="lead">
                    Worum geht es eigentlich? Was soll das alles?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <p>
                    Fahrradfahren! Freunde treffen! Die Critical Mass ist eine weltweite Bewegung: Rund um den Globus
                    steigen am letzten Freitag im Monat Menschen auf ihr Fahrrad und rollen gemeinsam durch die Stadt.
                </p>

                <p>
                    Was das soll? Keine Ahnung: Das muss jeder für sich selbst entscheiden. Für manche ist es nur eine
                    Radtour mit vielen, vielen Freunden. Für andere ein Statement für alternative Mobilität, für
                    wiederum andere eine Demonstration, für manche einfach nur ein ganz großer Spaß. Jeder Teilnehmer
                    hat seine eigene Definition.
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-sm-10 offset-sm-1 text-center">
                <h4>
                    Live Tracking?
                </h4>

                <p class="lead">
                    Was ist Live Tracking und was soll das?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <p>
                    Falls du zu spät aus dem Bureau kommst, kurz an einer Tankstelle Getränkenachschub besorgst oder
                    nach dem Corken schnell wieder nach vorne willst, kannst du dich immer auf digitale Helfer
                    verlassen: Mit Glympse oder Critical Maps kannst du deinen Aufenthaltsort mit anderen Radfahrern
                    deiner Stadt teilen und ihnen helfen, wieder zurück zur Masse zu finden. Andersherum kannst du mit
                    Critical Maps und criticalmass.live sehen, wo die Masse gerade entlangrollt.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    Live.loadModule('LiveFrontPage');
</script>
{% endblock %}
