{% extends 'AppBundle:Template:MasterTemplate.html.twig' %}

{% block content %}
    <div id="map">
        <div id="glympse-logo-container">
            <a href="http://www.glympse.com/">
                <img id="glympse-logo" src="/bundles/app/img/glympse-250.png" alt="Glympse-Logo" />
            </a>
        </div>
    </div>

    <script>
        Live.loadModule('LivePage');
        {#
        var options = {
            apiUrl: window.location.origin + '/api/positions',
            apiAccessToken: '28fb1cc85d4b46c7e1e8f9b37aa7d7d8'
        };

        Live.loadModule('LivePage', null, options, function (livePage) {
            {% if ride.hasLocation() and ride.latitude != 0 and ride.longitude != 0 %}
            ride = livePage.addRide('{{ ride|serialize|raw|e('js') }}');

            ride.openPopup();
            {% else %}
            city = livePage.addCity('{{ city|serialize|raw|e('js') }}');

            city.openPopup();
            {% endif %}

            livePage.setFocus();
        });#}
    </script>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fa-4.6.3.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/css/extramarkers.css') }}" />
{% endblock %}